@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/vox';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: 18px;
}

#app {
  height: 100%;
}

[data-active] {
  background-color: var(--color-surface-200);
}

@media (prefers-color-scheme: dark) {
  [data-active] {
    background-color: var(--color-surface-700);
  }
}

